<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>二零一八年分省传输网络总量地理图</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/maps/china.js"></script>

</head>
<body>
<form method="POST" action="/skip">
    <select name="option">
        {% for L in list %}
            <option value="{{ L }}">{{ L }}</option>
        {% endfor %}
    </select>
<p><input value='skip' type='SUBMIT'></p>
</form>
    <div id="5e37ae071cee4531b3d4a3dee79abd35" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_5e37ae071cee4531b3d4a3dee79abd35 = echarts.init(
            document.getElementById('5e37ae071cee4531b3d4a3dee79abd35'), 'white', {renderer: 'canvas'});
        var option_5e37ae071cee4531b3d4a3dee79abd35 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "map",
            "name": "\u4e8c\u96f6\u4e00\u516b\u5e74\u5206\u7701\u4f20\u8f93\u7f51\u7edc\u603b\u91cf\uff08\u4e07\uff09",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "mapType": "china",
            "data": [
                {
                    "name": "\u5317\u4eac",
                    "value": 586.83
                },
                {
                    "name": "\u5929\u6d25",
                    "value": 358.37
                },
                {
                    "name": "\u6cb3\u5317",
                    "value": 850.99
                },
                {
                    "name": "\u5c71\u897f",
                    "value": 443.05
                },
                {
                    "name": "\u5185\u8499\u53e4",
                    "value": 273.0
                },
                {
                    "name": "\u8fbd\u5b81",
                    "value": 800.11
                },
                {
                    "name": "\u5409\u6797",
                    "value": 466.51
                },
                {
                    "name": "\u9ed1\u9f99\u6c5f",
                    "value": 606.14
                },
                {
                    "name": "\u4e0a\u6d77",
                    "value": 519.28
                },
                {
                    "name": "\u6c5f\u82cf",
                    "value": 1605.82
                },
                {
                    "name": "\u6d59\u6c5f",
                    "value": 1419.56
                },
                {
                    "name": "\u5b89\u5fbd",
                    "value": 837.39
                },
                {
                    "name": "\u798f\u5efa",
                    "value": 727.02
                },
                {
                    "name": "\u6c5f\u897f",
                    "value": 638.15
                },
                {
                    "name": "\u5c71\u4e1c",
                    "value": 1765.7
                },
                {
                    "name": "\u6cb3\u5357",
                    "value": 1011.59
                },
                {
                    "name": "\u6e56\u5317",
                    "value": 1082.94
                },
                {
                    "name": "\u6e56\u5357",
                    "value": 1181.87
                },
                {
                    "name": "\u5e7f\u4e1c",
                    "value": 1798.13
                },
                {
                    "name": "\u5e7f\u897f",
                    "value": 678.73
                },
                {
                    "name": "\u6d77\u5357",
                    "value": 131.71
                },
                {
                    "name": "\u91cd\u5e86",
                    "value": 351.47
                },
                {
                    "name": "\u56db\u5ddd",
                    "value": 1088.43
                },
                {
                    "name": "\u8d35\u5dde",
                    "value": 576.43
                },
                {
                    "name": "\u4e91\u5357",
                    "value": 407.97
                },
                {
                    "name": "\u897f\u85cf",
                    "value": 23.62
                },
                {
                    "name": "\u9655\u897f",
                    "value": 693.56
                },
                {
                    "name": "\u7518\u8083",
                    "value": 200.99
                },
                {
                    "name": "\u9752\u6d77",
                    "value": 44.91
                },
                {
                    "name": "\u5b81\u590f",
                    "value": 68.0
                },
                {
                    "name": "\u65b0\u7586",
                    "value": 207.36
                }
            ],
            "roam": true,
            "zoom": 1,
            "showLegendSymbol": true,
            "emphasis": {}
        }
    ],
    "legend": [
        {
            "data": [
                "\u4e8c\u96f6\u4e00\u516b\u5e74\u5206\u7701\u4f20\u8f93\u7f51\u7edc\u603b\u91cf\uff08\u4e07\uff09"
            ],
            "selected": {
                "\u4e8c\u96f6\u4e00\u516b\u5e74\u5206\u7701\u4f20\u8f93\u7f51\u7edc\u603b\u91cf\uff08\u4e07\uff09": true
            },
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "title": [
        {
            "text": "\u4e8c\u96f6\u4e00\u516b\u5e74\u5206\u7701\u4f20\u8f93\u7f51\u7edc\u603b\u91cf"
        }
    ],
    "visualMap": {
        "show": true,
        "type": "continuous",
        "min": 0,
        "max": 3535,
        "inRange": {
            "color": [
                "#50a3ba",
                "#eac763",
                "#d94e5d"
            ]
        },
        "calculable": true,
        "splitNumber": 5,
        "orient": "vertical",
        "showLabel": true
    }
};
        chart_5e37ae071cee4531b3d4a3dee79abd35.setOption(option_5e37ae071cee4531b3d4a3dee79abd35);
    </script>
<h4>数据内容：</h4>
{{ the_res|safe }}
<h4>其余分析链接：</h4>
<ul>
    <a style="line-height: 16px" href="/TV-export">电视出口总额</a>
    <a style="line-height: 16px" href="/total-transmission">二零一八年分省传输网络总量地理图</a>
    <a style="line-height: 16px" href="/total">欧洲与美洲出口总额</a>
</ul>
</body>
</html>
